{
	email {$ACME_EMAIL}
}

{$WWW_DOMAIN:localhost}, http://110.40.154.41 {
	encode zstd gzip
	root * /srv

	handle /api/health {
		header Content-Type application/json
		respond `{"status":"ok","service":"robot-gateway"}` 200
	}

	handle_path /remote/* {
		reverse_proxy {$REMOTE_WEB_UPSTREAM:host.docker.internal:5173}
	}

	handle_path /remote-api/* {
		reverse_proxy {$REMOTE_API_UPSTREAM:host.docker.internal:8000}
	}

	handle_path /camera/* {
		reverse_proxy {$CAMERA_UPSTREAM:host.docker.internal:8099}
	}

	handle_path /action/* {
		reverse_proxy {$ACTION_UPSTREAM:host.docker.internal:8094}
	}

	handle_path /audio/* {
		reverse_proxy {$AUDIO_UPSTREAM:host.docker.internal:8095}
	}

	handle_path /robot/* {
		reverse_proxy {$ROBOT_UPSTREAM:host.docker.internal:8093}
	}

	handle_path /face/* {
		reverse_proxy {$FACE_UPSTREAM:host.docker.internal:8096}
	}

	file_server
}
