{
	email admin@wangyutang.com
}

(papers_path_routes) {
	handle /papers {
		redir /papers/ 308
	}
	handle_path /papers/api/* {
		rewrite * /api{path}
		reverse_proxy paper-learning:8088
	}
	handle_path /papers/static/* {
		rewrite * /static{path}
		reverse_proxy paper-learning:8088
	}
	handle /papers/* {
		reverse_proxy paper-learning:8088
	}
}

(remote_path_routes) {
	handle /remote {
		redir /remote/ 308
	}
	handle_path /remote/api/* {
		rewrite * /api{path}
		reverse_proxy remote-control-api:8000
	}
	handle_path /remote/devices/* {
		rewrite * /devices{path}
		reverse_proxy remote-control-api:8000
	}
	handle_path /remote/* {
		reverse_proxy remote-control-web:5173
	}
}

(remote_vite_dev_asset_routes) {
	handle /@vite/* {
		reverse_proxy remote-control-web:5173
	}
	handle /src/* {
		reverse_proxy remote-control-web:5173
	}
}

(sensing_path_routes) {
	handle /sensing {
		redir /sensing/ 308
	}
	handle_path /sensing/api/* {
		rewrite * /api{path}
		reverse_proxy remote-sensing:8090
	}
	handle_path /sensing/* {
		reverse_proxy remote-sensing:8090
	}
}

(camera_path_routes) {
	handle /camera {
		redir /camera/ 308
	}
	handle_path /camera/static/* {
		rewrite * /static{path}
		reverse_proxy camera-snapshot:8099
	}
	handle_path /camera/api/* {
		rewrite * /api{path}
		reverse_proxy camera-snapshot:8099
	}
	handle_path /camera/* {
		reverse_proxy camera-snapshot:8099
	}
}

(action_path_routes) {
	handle /action {
		redir /action/ 308
	}
	handle_path /action/static/* {
		rewrite * /static{path}
		reverse_proxy action-move:8094
	}
	handle_path /action/api/* {
		rewrite * /api{path}
		reverse_proxy action-move:8094
	}
	handle_path /action/* {
		reverse_proxy action-move:8094
	}
}

(web_path_routes) {
	handle /web {
		redir /web/ 308
	}
	handle_path /web/static/* {
		rewrite * /static{path}
		reverse_proxy web-manager:8092
	}
	handle_path /web/api/* {
		rewrite * /api{path}
		reverse_proxy web-manager:8092
	}
	handle_path /web/* {
		reverse_proxy web-manager:8092
	}
}

(llm_path_routes) {
	handle /llm {
		redir /llm/ 308
	}
	handle_path /llm/static/* {
		rewrite * /static{path}
		reverse_proxy web-manager:8092
	}
	handle_path /llm/api/* {
		rewrite * /api{path}
		reverse_proxy web-manager:8092
	}
	handle_path /llm/* {
		reverse_proxy web-manager:8092
	}
}

(robot_path_routes) {
	handle /robot {
		redir /robot/ 308
	}
	handle_path /robot/static/* {
		rewrite * /static{path}
		reverse_proxy pi5-robot:8093
	}
	handle_path /robot/api/* {
		rewrite * /api{path}
		reverse_proxy pi5-robot:8093
	}
	handle_path /robot/* {
		reverse_proxy pi5-robot:8093
	}
}

(modules_path_routes) {
	handle /modules {
		redir /modules/ 308
	}
	handle_path /modules/* {
		reverse_proxy platform:8098
	}
}

(platform_module_path_routes) {
	import papers_path_routes
	import remote_path_routes
	import remote_vite_dev_asset_routes
	import sensing_path_routes
	import camera_path_routes
	import action_path_routes
	import web_path_routes
	import llm_path_routes
	import robot_path_routes
	import modules_path_routes
}

http://110.40.154.41 {
	encode zstd gzip
	import platform_module_path_routes
	handle {
		reverse_proxy platform:8098
	}
}

http://www.wangyutang.cn {
	encode zstd gzip
	import platform_module_path_routes
	handle {
		reverse_proxy platform:8098
	}
}

https://www.wangyutang.cn {
	encode zstd gzip
	import platform_module_path_routes
	handle {
		reverse_proxy platform:8098
	}
}

https://control.wangyutang.com {
	encode zstd gzip
	reverse_proxy platform:8098
}

https://papers.wangyutang.com {
	encode zstd gzip
	reverse_proxy paper-learning:8088
}

https://remote.wangyutang.com {
	encode zstd gzip
	handle_path /api/* {
		reverse_proxy remote-control-api:8000
	}
	handle /devices/* {
		reverse_proxy remote-control-api:8000
	}
	handle {
		reverse_proxy remote-control-web:5173
	}
}

https://sensing.wangyutang.com {
	encode zstd gzip
	reverse_proxy remote-sensing:8090
}

https://camera.wangyutang.cn {
	encode zstd gzip
	reverse_proxy camera-snapshot:8099
}

https://action.wangyutang.cn {
	encode zstd gzip
	reverse_proxy action-move:8094
}

https://llm.wangyutang.cn {
	encode zstd gzip
	reverse_proxy web-manager:8092
}
